@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}
:root {
  font-size: 100%;
}
@media all and (max-width: 600px) {
  :root {
    font-size: 70%;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.error {
  position: absolute;
  z-index: -1;
  display: none;
}

input {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

nav {
  width: 560px;
  margin: 0 auto;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 600px) {
  nav {
    width: 280px;
    font-size: 0.7em;
  }
}
nav a {
  display: inline-block;
  background-color: grey;
  margin: 0.2rem;
  padding: 0.4rem;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  z-index: 2;
  transform: translateY(50px);
}
@media all and (max-width: 600px) {
  nav a {
    transform: translateY(35px);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media all and (max-width: 800px) {
  .container {
    overflow: hidden;
  }
}

.game_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 600px) {
  .game_container {
    width: 100vw;
    height: calc(100% - 4rem);
  }
}

.animal_display_transition_group {
  overflow: hidden;
  width: 755px;
  height: 765px;
  position: relative;
}
@media all and (max-width: 600px) {
  .animal_display_transition_group {
    width: 100vw;
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }
}

.game_container__animal_image {
  position: absolute;
  top: calc(50vh - 331px);
  width: 437px;
  padding: 1rem;
  left: 0;
  transition: transform 0.6s cubic-bezier(0.21, 0.6, 0.35, 1.44), left 0.6s cubic-bezier(0.21, 0.6, 0.35, 1.44);
  transform: rotateY(0);
}
.game_container__animal_image.left {
  left: 2px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg) scale(1) translateY(0);
}
.game_container__animal_image.right {
  left: 285px;
}
.game_container__animal_image.right.right_facing {
  transition: transform 0.4s ease, left 0.6s cubic-bezier(0.21, 0.6, 0.35, 1.44);
  transform: rotateY(180deg);
}
.game_container__animal_image.left.left_facing {
  transition: transform 0.4s ease, left 0.6s cubic-bezier(0.21, 0.6, 0.35, 1.44);
  transform: rotateY(0) scale(1) translateY(0);
}

.animal_transition_left-exit.game_container__animal_image.left {
  transition: transform 0.6s ease;
  transform: scale(1) translateX(0);
}

.animal_transition_left-exit-active.game_container__animal_image.left {
  transform: scale(1) translateX(-100%);
}

.animal_transition_left-enter.game_container__animal_image.left {
  transition: transform 0.6s ease;
  transform: rotateY(180deg) translateX(100%);
}

.animal_transition_left-enter-active.game_container__animal_image.left {
  transform: rotateY(180deg) translateX(0);
}

.animal_transition_right-exit.game_container__animal_image.right {
  transition: transform 0.6s ease;
  transform: scale(1) translateX(0);
}

.animal_transition_right-exit-active.game_container__animal_image.right {
  transform: scale(1) translateX(120%);
}

.animal_transition_right-enter.game_container__animal_image.right {
  transition: transform 0.6s ease;
  transform: rotateY(0) translateX(100%);
}

.animal_transition_right-enter-active.game_container__animal_image.right {
  transform: rotateY(0) translateX(0);
}

.animal_transition_left-enter.game_container__animal_image.single,
.animal_transition_right-enter.game_container__animal_image.single {
  transition: transform 0.6s ease;
  left: 50%;
  transform: translateX(-200%);
}

.animal_transition_left-enter-active.game_container__animal_image.single,
.animal_transition_right-enter-active.game_container__animal_image.single {
  left: 50%;
  transform: translateX(-50%);
}

.animal_transition_left-exit-active.game_container__animal_image.single,
.animal_transition_right-exit-active.game_container__animal_image.single {
  transition: transform 0.6s ease;
  left: 50%;
  transform: translateX(-50%);
}

.animal_transition_left-exit.game_container__animal_image.single.single,
.animal_transition_right-exit.game_container__animal_image.single.single {
  transition: transform 0.6s ease;
  left: 50%;
  transform: translateX(-200%);
}

.animal_transition_left-enter.game_container__animal_image.single.left_facing,
.animal_transition_right-enter.game_container__animal_image.single.left_facing {
  transition: transform 0.6s ease;
  left: 50%;
  transform: translateX(-100%) rotateY(180deg);
}

.animal_transition_left-enter-active.game_container__animal_image.single.left_facing,
.animal_transition_right-enter-active.game_container__animal_image.single.left_facing {
  left: 50%;
  transform: translateX(-50%) rotateY(180deg);
}

.game_container__animal_image.single.right_facing {
  transform: translateX(-50%) rotateY(180deg);
}

.inactive {
  -webkit-filter: contrast(50%);
  -webkit-filter: brightness(80%);
  transform: scale(0.95) translateY(10px);
  transition: transform 0.4s;
}

.inactive.left {
  transform: rotateY(180deg) scale(0.95) translateY(10px);
}

.Typist {
  display: inline;
}

.highlighted_text_icon {
  width: 24px;
  height: 24px;
}
@media all and (max-width: 600px) {
  .highlighted_text_icon {
    width: 18px;
    height: 18px;
  }
}

.text_box {
  position: absolute;
  width: 600px;
  bottom: calc(50vh - 444px);
  left: 50vw;
  transform: translate(-50%, -50%);
}
.text_box__name {
  background-color: grey;
  color: var(--cream);
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  transform: translateY(15px) rotate(-5deg);
  margin-left: 1rem;
  z-index: 50;
}
.text_box__main {
  background-color: var(--cream);
  color: var(--brown-black);
  border-radius: 20px;
  padding: 1rem;
  height: 186px;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  z-index: -1;
}
@media all and (max-width: 600px) {
  .text_box__main {
    height: 120px;
  }
}
@media all and (max-width: 390px) {
  .text_box__main {
    height: 140px;
  }
}
.text_box__main.grey {
  color: #c3c3c3;
}
.text_box__next_arrow {
  box-sizing: border-box;
  position: absolute;
  bottom: -0.8rem;
  left: calc(50% - 25px);
  animation: bounce 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding: 0 1rem;
}
.text_box__next_arrow:hover {
  cursor: pointer;
}
.text_box__next_arrow.hidden {
  opacity: 0;
}
.text_box__left_arrow {
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
}
.text_box__right_arrow {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
}

@media all and (max-height: 1126px) and (max-width: 800px) {
  .container {
    background-position: center calc(50% + 100px);
  }
}
@media all and (max-height: 1126px) and (max-width: 800px) {
  .text_box {
    height: 254px;
    bottom: calc(50vh - 487px);
  }
}
@media all and (max-width: 420px) {
  .container {
    background-size: 400px auto;
    background-position: center;
  }

  .game_container__animal_image {
    width: 280px;
    top: calc(var(--vh, 1vh) * 50 - 187px);
  }
  .game_container__animal_image.left {
    left: calc(50vw - 228px);
  }
  .game_container__animal_image.right {
    left: calc(50vw - 64px);
  }

  .text_box {
    width: 95%;
    bottom: calc(50vh - 469px);
  }

  .text_box__name {
    transform: translateY(9px) rotate(-5deg);
  }
}
.game_container__animal_image.single {
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.6s ease, left 0.6s ease;
}

.game_container__animal_image {
  transition: transform 0.6s ease, left 0.6s ease;
}

span.highlight {
  color: var(--blue);
  font-weight: 800;
}

.health_bar_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 755px;
  height: 765px;
  overflow: hidden;
  pointer-events: none;
}
@media all and (max-width: 420px) {
  .health_bar_wrapper {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }
}

.inventory_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 755px;
  height: 765px;
  overflow: hidden;
  z-index: 200;
  pointer-events: none;
}
@media all and (max-width: 420px) {
  .inventory_wrapper {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }
}

.health_bar_inset {
  position: relative;
  transition: transform 0.8s cubic-bezier(0.47, -0.51, 0.46, 1.64);
  transform: translateX(0);
  margin-top: 0.5rem;
  margin-left: 1rem;
}
@media all and (max-width: 420px) {
  .health_bar_inset {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

.health_bar_inset.offscreen {
  transform: translateX(-100%);
}

.inventory_container {
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: transform 0.2s ease;
}
.inventory_container.off_screen {
  transform: translateX(100%);
}

.hide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.image_loader_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: translateX(-100%);
  max-width: 300px;
  max-height: 300px;
}

/*# sourceMappingURL=testimony.css.map */
